<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
   <h1>Bienvenido!</h1>
    <p>¿Cuál información desea consultar?</p>
    
        <ul><a href="/Libro1">Operating System Concepts</a></ul>
        <ul><a href="/Libro2">Database System Concepts</a></ul>
        <ul><a href="/Libro3">Computer Networks</a></ul>
        <ul><a href="/Libro4">Modern Operating Systems</a></ul>
    </center>
</body>
</html>