<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <p>Id:3</p> 
        <p>title:Computer Networks</p> 
        <p>edition:5th</p> 
        <p>copyright:2010</p> 
        <p>language:ENGLISH</p> 
        <p>pages:960</p> 
        <p>author:Andrew S. Tanenbaum</p> 
        <p>publisher:Pearson Education</p> 
    </center>
</body>
</html>