<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <p>Id:2</p> 
        <p>title:Database System Concepts,</p> 
        <p>edition:6th</p> 
        <p>copyright:2010</p> 
        <p>language:ENGLISH</p> 
        <p>pages:1376</p> 
        <p>author:Abraham Silberschatz</p> 
        <p>publisher:John Wiley & Sons</p> 
    </center>
</body>
</html>